.App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#sessions-table {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

section > * {
    display: table-row;
}

section .col {
    display: table-cell;
}

#sessions-table .col, #sessions-table header {
    border: 1px solid #ddd;
    padding: 8px;
}

#sessions-table .row:hover {
    background-color: #ddd1;
}

#sessions-table header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#room-table {
    width: 100%;
    width: 100%;
}

#room-table th {
    padding: 0;
    margin: 0;
    align-content: center;
    height: 35px;
    width: 35px;
}

#room-table tr {
    align-content: center;
    padding: 0;
    margin: 0;
}

#empty {
    width: 100%;
    height: 100%;
    background-color: dimgray;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#room {
    vertical-align: center;
    horiz-align: center;
    width: 100%;
    height: 100%;
    background-color: sandybrown;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.room-parent {
    width: 40px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 2 / 2 / 5 / 5;
}

.div2 {
    grid-area: 3 / 1 / 4 / 2;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 3 / 5 / 4 / 6;
}

.div5 {
    grid-area: 5 / 3 / 6 / 4;
}

.react-transform-component {
    width: 100%;
    height: 100%;
}

.dot {
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}
